@import nib
@require "../node_modules/uu-grid/src/styles/lib/index"

$padding = 25px
$smallPadding = 15px
$borderRadius = 3px

@keyframes fadeIn
  0%
    opacity: 0
    transform(translateY(-20px))
  100%
    opacity: 1
    transform(translateY(0))

@keyframes fadeOut
  0%
    opacity: 1
    transform(translateY(0))
  100%
    opacity: 0
    transform(translateY(-20px))

.animation--fade-in-out
  animation-duration(0.25s)
  animation-timing-function(ease)
  animation-fill-mode(both)
  transition: visibility 0.25s

  &.is-active
    animation-name(fadeIn)
  &.not-active
    animation-name(fadeOut)

.uu-modal
  visibility: hidden
  box-sizing: border-box
  width: 98%
  position: fixed
  left: 50%
  z-index: 1
  background-color: #fff
  outline: 9999px solid rgba(0,0,0,0.25)
  box-shadow(0px 0px 25px 10px rgba(0,0,0,0.4))
  border-radius($borderRadius)
  &.is-active
    visibility: visible
  &.not-active
    visibility: hidden

  &.fit-to-content
    width: auto
    width: 650px
    margin-left: -325px
    padding: $padding 0

.uu-close
  float: right
  cursor: pointer
  opacity: 0.3
  margin: 0 0 0 0

.uu-modal-header
  padding $smallPadding $padding
  h2
    margin 0

.uu-modal-content
  padding: 0 $padding
  overflow: hidden

.uu-modal-footer
  padding: 0 $padding

+media('s')
  .uu-modal
    &.fit-to-content
      width: 98%
      margin-left: -49%

apply_media_cache()